# Klipper build config for Ender 3 S1 F1 (STM32F103)
CONFIG_LOW_LEVEL_OPTIONS=y
CONFIG_MACH_STM32=y
CONFIG_MACH_STM32F103=y
CONFIG_CLOCK_REF_8M=y
CONFIG_STM32_SERIAL_USART1=y
CONFIG_SERIAL=y
CONFIG_STM32_SELECT=y
CONFIG_MACH_STM32F1=y
CONFIG_STM32_FLASH_START_7000=y
CONFIG_STM32_FLASH_BOOTLOADER_SIZE=28672
CONFIG_SERIAL_BAUD=250000
